/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
img { max-width: 100%; height: auto; display: block; margin: 0 auto }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }


/* ============ CUSTOM PROPERTIES ============  */
:root {
    /* Alternatives to default sans-serif font */
    --font-sans: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

     /* Alternatives to default serif font */
    --font-serif: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

     /* Alternatives to default monospace font */
    --font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* Fluid font size scale */
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);

    /* Color Variables */
    --headingsblue: #0A1F44;
    --iconsilver: #C9CED6;
    --hoversilver: #ADCCED;
    --backgroundblue: #244761;
    --hoverblue: #2E6868;
    --hoverteal: #2E6868;
    --darknavy: #000035;
    --grayscale900: #242424;
    --grayscale950: #0D0D0D;
    --gunmetal: #818589;
    --steel-gray: #71797E;
}


/* ============ TYPOGRAPHY ============  */

html { scroll-behavior: smooth; zoom: 1; }

/* Nav Bar  */
nav.theme-light  { 
    position: sticky; 
    top: 0;
    z-index: 1000;
    background: var(--backgroundblue);
    box-shadow: none !important;
    border-bottom: none !important;
}

/* Menu */
nav.theme-light ul.links-wrapper li { font-family: "Montserrat", sans-serif; }

nav.theme-light ul.links-wrapper li a:link,
nav.theme-light ul.links-wrapper li a:visited { 
    color: var(--white-000);
    font-size: 1.4vw;
}

nav.theme-light ul.links-wrapper li a:focus,
nav.theme-light ul.links-wrapper li a:hover,
nav.theme-light ul.links-wrapper li a:active { 
    color: var(--darknavy);
    transition: linear;
    font-size: 1.2vw; 
    text-decoration-line: underline;
    text-decoration-color: var(--darknavy);
    font-weight: bold;
}

nav.theme-light a#btn-cta {
    margin-right: -20px;
    margin-top: 12px;
}

nav.theme-light a#btn-cta:link,
nav.theme-light a#btn-cta:visited {
    color: white;
    background-color: var(--darknavy);
    border-color: var(--darknavy);
}

nav.theme-light a#btn-cta:focus,
nav.theme-light a#btn-cta:hover,
nav.theme-light a#btn-cta:active { 
    color: var(--darknavy);
    border-color: var(--hoversilver);
    background-color: var(--hoversilver);
    transition: linear; 
}

/* Mobile Menu */
nav.theme-light .nav-toggle {background-color: var(--backgroundblue); }

nav.theme-light .nav-toggle .bar-1,
nav.theme-light .nav-toggle .bar-2,
nav.theme-light .nav-toggle .bar-3 { background-color: white };

@media (max-width: 767px) { 
    /*Base State: Hidden Menu */
    nav.theme-light ul.links-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    /*margin: 0;*/
    width: 100%;
    background-color: var(--backgroundblue);
    flex-direction: column;
    align-items: center;

    /* Animation Setup */
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    z-index: 999;
    backface-visibility: hidden;
    will-change: transform, opacity;
    
}
}

@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active { 
    transform: scaleY(1);
    opacity: 1;
    /*visibility: visible;*/
    background-color: var(--backgroundblue);
}
}

@media (max-width: 767px) { nav.theme-light ul.links-wrapper li {
    transform: none;
    opacity: 1;
}
}

@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active li a:link,
nav.theme-light ul.links-wrapper.active li a:visited { 
    color: white;
    font-size: 16px;
} 
}

@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active li a:focus,
nav.theme-light ul.links-wrapper.active li a:hover,
nav.theme-light ul.links-wrapper.active li a:active { color: var(--headingsblue) } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active li a:focus,
nav.theme-light ul.links-wrapper.active li a:hover,
nav.theme-light ul.links-wrapper.active li a:active { text-decoration-color: var(--headingsblue) } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active li a:focus,
nav.theme-light ul.links-wrapper.active li a:hover,
nav.theme-light ul.links-wrapper.active li a:active { font-size: 14px;} }

@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:link, nav.theme-light ul.links-wrapper.active a#btn-cta:visited { color: white } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:link, nav.theme-light ul.links-wrapper.active a#btn-cta:visited { background-color: black } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:link, nav.theme-light ul.links-wrapper.active a#btn-cta:visited { border-color: black } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:link, nav.theme-light ul.links-wrapper.active a#btn-cta:visited { font-size: 16px; } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:link, nav.theme-light ul.links-wrapper.active a#btn-cta:visited { margin-left: -10px; } }

@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:focus,
nav.theme-light ul.links-wrapper.active a#btn-cta:hover,
nav.theme-light ul.links-wrapper.active a#btn-cta:active { color: black } } 
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:focus,
nav.theme-light ul.links-wrapper.active a#btn-cta:hover,
nav.theme-light ul.links-wrapper.active a#btn-cta:active { background-color: var(--hoversilver) } } 
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:focus,
nav.theme-light ul.links-wrapper.active a#btn-cta:hover,
nav.theme-light ul.links-wrapper.active a#btn-cta:active { border-color: var(--hoversilver) } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:focus,
nav.theme-light ul.links-wrapper.active a#btn-cta:hover,
nav.theme-light ul.links-wrapper.active a#btn-cta:active { font-size: 14px; } }
@media (max-width: 767px) { nav.theme-light ul.links-wrapper.active a#btn-cta:focus,
nav.theme-light ul.links-wrapper.active a#btn-cta:hover,
nav.theme-light ul.links-wrapper.active a#btn-cta:active { margin-left: -10px; } }

/* Logo */
nav.theme-light .brand img {
    width: 200px;
    max-height: 70px;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: -30px;
} 

@media (max-width: 767px) { nav.theme-light .brand img {
    width: 150px;
    max-height: 50px;
    margin-left: -10px;
    margin-bottom: -10px;
} 
}

/* Hero & Background Img */
header.hero-bg { 
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.hero-bg .container-media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

header.hero-bg .container-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

header.hero-bg > .container-overlay { 
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.0)); 
}

/* Mobile Hero & Background Img */
@media (max-width: 767px) { header.hero-bg {
    display: flex;
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    padding: 20px 10px;          
    height: auto;
}
}

/* Hero Text */
header.hero-bg .container-text {
    z-index: 2;
    text-align: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 10px;;
}

header.hero-bg .container-text h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: var(--darknavy);
    font-weight: 600;
    margin-top: -10px;
}

header.hero-bg .container-text .highlight {
    color: var(--hoversilver);
    text-shadow: #0D0D0D 2px 2px 4px;
}

header.hero-bg .container-text .divider {
    width: 30%;
    height: 4px;
    background: var(--iconsilver);
    margin-top: 5px;
    box-shadow: 0 0 10px #0D0D0D;
}

header.hero-bg .container-text h2 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    text-align: center;
    color: var(--darknavy);
    margin-top: 15px;
}

/* Mobile Hero Text */
@media (max-width: 767px) { header.hero-bg .container-text{
    z-index: 2;
    text-align: center;
    margin-top: 0px;
}
} 

@media (max-width: 767px) { header.hero-bg .container-text h1 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: var(--darknavy);
    font-weight: bold;
    font-size: 5vw;
    margin-bottom: 5px;
}
}

@media (max-width: 767px) { header.hero-bg .container-text .highlight {
    color: var(--hoversilver);
    text-shadow: #0D0D0D 1px 1px 2px;
}
}

@media (max-width: 767px) { header.hero-bg .container-text .divider {
    width: 50%;
    height: 2px;
    background-color: var(--iconsilver);
    margin-top: 2px;
    margin-bottom: 2px;
    box-shadow: 0 0 8px black;
}
}

@media (max-width: 767px) { header.hero-bg .container-text h2 {
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    text-align: center;
    color: var(--darknavy);
    margin-top: 5px;
}
}

/* Hero CTA */
header.theme-light .container-btn a.btn:nth-child(1),
header.theme-light .container-btn a.btn:nth-child(2) { 
    z-index: 2;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;;
}

header.theme-light .container-btn a.btn:nth-child(1) { font-family: "Montserrat", serif; }
header.theme-light .container-btn a.btn:nth-child(2) { font-family: "Montserrat", serif; }

header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { color: white; }
header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { background-color: var(--darknavy); }
header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { border-color: var(--darknavy); }
header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { font-size: 2vw; }

header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { color: var(--darknavy); transition: all 0.3s ease; }
header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--hoversilver);  }
header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { border-color: var(--hoversilver);  }
header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { font-size: 1.75vw; }

header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { color: white; }
header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { background-color: var(--darknavy); }
header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { border-color: var(--darknavy); }
header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { font-size: 2vw; }

header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { color: var(--darknavy); transition: all 0.3s ease; }
header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { background-color: var(--hoversilver);  }
header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { border-color: var(--hoversilver);  }
header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { font-size: 1.75vw; }

/* Mobile Hero CTA */
@media (max-width: 767px) { header.theme-light .container-btn {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 30px;
}
}

@media (max-width: 767px) {
    header.theme-light .container-btn i.fa-archway,  header.theme-light .container-btn i.fa-file-lines {
        margin-right: -25px;
    }
}

@media (max-width: 767px) { header.theme-light .container-btn a.btn:nth-child(1) { font-family: "Montserrat", serif; } }
@media (max-width: 767px) { header.theme-light .container-btn a.btn:nth-child(2) { font-family: "Montserrat", serif; } }

@media (max-width: 767px) { header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { color: white; } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { background-color: var(--darknavy); } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { border-color: var(--darknavy); } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):link,
header.theme-light .container-btn a.btn:nth-child(1):visited { font-size: 2vw; } }

@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { color: var(--darknavy); transition: all 0.3s ease; } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--hoversilver);  } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { border-color: var(--hoversilver);  } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(1):focus,
header.theme-light .container-btn a.btn:nth-child(1):hover,
header.theme-light .container-btn a.btn:nth-child(1):active { font-size: 1.75vw; } }

@media (max-width: 767px) { header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { color: white; } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { background-color: var(--darknavy); } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { border-color: var(--darknavy); } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):link,
header.theme-light .container-btn a.btn:nth-child(2):visited { font-size: 2vw; } }

@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { color: var(--darknavy); transition: all 0.3s ease; } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { background-color: var(--hoversilver);  } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { border-color: var(--hoversilver);  } }
@media (max-width: 767px) {header.theme-light .container-btn a.btn:nth-child(2):focus,
header.theme-light .container-btn a.btn:nth-child(2):hover,
header.theme-light .container-btn a.btn:nth-child(2):active { font-size: 1.75vw; } }

/* Section: Intro */